<div class="flex justify-center max-w-7xl mx-auto">
    <nz-layout class="h-full bg-white border-x ">
        <nz-header class="flex justify-between items-center bg-blue-200 p-0">
            <div class="logo sm:w-1/2">
                <a routerLink="/" class="text-blue-600">
                    <h1 class="text-2xl text-blue-500-5 mx-2">Work Force</h1>
                </a>
            </div>

            <div class="bg-blue-200 w-1/4 md:w-1/3 sm:w-1/2 text-blue-500 flex items-center h-full p-0 pt-2 text-center">
                <div class="p-3">
                    <a routerLink="roles" routerLinkActive="text-bold text-gray-800"
                        class="text-center mx-3 p-2 rounded-t-lg h-full flex items-center justify-center hover:underline text-md text-gray-700 ">
                        <span class="text-center block tracking-widest">Roles</span>
                    </a>
                </div>
                <div class="p-3">
                    <a routerLink="employees" routerLinkActive="text-bold text-gray-800"
                        class="text-center mx-3 p-2 rounded-t-lg h-full flex items-center justify-center hover:underline text-md text-gray-700 ">
                        <span class="text-center block tracking-widest">Employee list</span>
                    </a>
                </div>
            </div>

        </nz-header>
        <nz-content class="min-h-full">
            <div class="bg-white flex">
                <div class="inner-content h-full border border-gray-200 my-5 mx-5 p-5 bg-gray-100 flex-grow rounded-lg">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </nz-content>
        <nz-footer class="text-center ">Work Force ©2023 By Abdi Megersa</nz-footer>
    </nz-layout>
</div>