
.p-organizationchart-lines {
    border-color: red !important;
}

.p-organizationchart-line-right {
    border-color: red !important;
}

.blur {
    filter: blur(1px);
  }
  

  ul.tree > li:after, ul.tree > li:before {
    display: none;
}
