<div class="flex flex-col min-h-screen justify-evenly items-center border-2">
    <div class="my-5 w-full flex justify-evenly items-center">
        <div class="flex">
            <button (click)="showRoleAddModal()" nz-button nzType="primary"
                class="mx-2 rounded font-bold flex justify-center shadow basis-1/12">
                <span nz-icon nzType="file-add" nzTheme="outline"></span>
                Add Role
            </button>

            <button (click)="showEmployeeModal()" nz-button nzType="primary"
                class="mx-2 rounded font-bold flex justify-center shadow">
                <span nz-icon nzType="user-add" class="mx-1" nzTheme="outline"></span>
                Add Employee
            </button>

            <!-- <button nz-button nzType="primary" class="float-right" (click)="toggleRoleView()">toggle view</button> -->
            <nz-radio-group [(ngModel)]="roleView">
                <label nz-radio-button nzValue="TREE">Tree</label>
                <label nz-radio-button nzValue="ORGCHART">OrgChart</label>
            </nz-radio-group>
        </div>
        <div class="top-30 right-10 m-1 bg-gray-300 p-2 rounded z-10">
            <button nz-button nzType="primary" class="mx-1 rounded-full" (click)="scaleUp()"><span nz-icon
                    nzType="zoom-in" nzTheme="outline"></span></button>
            <button nz-button nzType="primary" class="mx-1 rounded-full" (click)="scaleDown()"><span nz-icon
                    nzType="zoom-out" nzTheme="outline"></span>
            </button>
            <button nz-button nzType="primary" class="mx-1 rounded-full" (click)="refetchRoles()">
                <span>refresh</span>
            </button>
        </div>


    </div>
    <!-- The Org Chart -->
    <div
        class="w-full h-full border border-4 border-blue-500 rounded card flex justify-center overflow-x-auto min-w-screen basis-1/2">

        <div class="max-w-3xl m-10 flex items-center">

            <div *ngIf="chartDetail.error">
                {{chartDetail.error}}
                <button nz-button nzType="primary" (click)="refetchRoles()">Refresh</button>
            </div>
            <div class="flex items-center justify-center">
                <div *ngIf="chartDetail.loading" style="position: absolute; z-index: 1;">
                    <nz-spin [nzSize]="'large'">Fetching Data</nz-spin>
                </div>
                <div style="position: relative;" class="flex justify-center">
                    <div class="blur flex justify-center items-center" *ngIf="chartDetail.loading">
                        <p-organizationChart [value]="mockData" *ngIf="roleView === 'ORGCHART'">
                            <ng-template let-node pTemplate="person">
                                <div class="text-center flex flex-col justify-center items-center">
                                    <span class="border p-1 rounded-full border border-slate-400" nz-icon nzType="user"
                                        nzTheme="outline"></span>
                                    <div class="px-2 my-1 rounded border border-slate-400">
                                        <span class="font-bold text-gray-800 truncate">{{ node.label }}</span>
                                    </div>
                                </div>
                            </ng-template>
                        </p-organizationChart>
                        <app-tree-view [treeData]="mockData" *ngIf="roleView === 'TREE'"></app-tree-view>
                    </div>
                </div>
            </div>
            <div *ngIf="roleView === 'ORGCHART'">
                <div [style.transform]="'scale(' + scaleClass + ')'" *ngIf="chartDetail.data">
                    <app-org-chart [chartData]="chartDetail.data" [scaleClass]="scaleClass"
                        (onMenu)="displayModal($event)"></app-org-chart>
                </div>
            </div>
            <div *ngIf="roleView === 'TREE' && !chartDetail.loading">
                <ul class="tree">
                    <app-tree-view [treeData]="chartDetail.data" (onMenu)="displayModal($event)"></app-tree-view>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- ADD new EMPLOYEE -->
<!-- For employee form / modal -->
<div *ngIf="addEmployeeDetail.visible">
    <app-add-employee-modal [addEmployeeDetail]="addEmployeeDetail"
        (onCancel)="handleEmployeeCancel()"></app-add-employee-modal>
</div>

<!-- ADD ROLE -->
<!-- modal for adding new role -->
<div *ngIf="addRoleDetail.visible">
    <app-add-role-modal [addRoleDetail]="addRoleDetail" (onCancel)="handleRoleCancel()"></app-add-role-modal>
</div>
<!-- VIEW ROLE -->
<!-- nz modal for viewing a role -->
<div *ngIf="viewDetail.visible">
    <app-view-modal [viewDetail]="viewDetail" (onCancelView)="handleRoleViewCancel()"></app-view-modal>
</div>

<!-- nz modal for editing a role -->
<!-- cancel and save -->
<div *ngIf="editDetail.visible">
    <app-edit-modal [editDetail]="editDetail" (onCancel)="handleRoleEditCancel()"></app-edit-modal>
</div>

<!-- nz modal for deleting a role -->
<!-- delete and cancel -->
<div *ngIf="deleteDetail.visible">
    <app-delete-modal [deleteDetail]="deleteDetail" (onCancel)="handleRoleDeleteCancel()"></app-delete-modal>
</div>